workflow/WF 2- Automation Thread - Schedule konten.json
{
  "name": "WF 2- Automation Thread - Schedule konten",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -976,
        272
      ],
      "id": "64c38c64-775d-4745-9bdb-bd0e7301b110",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI",
          "mode": "list",
          "cachedResultName": "n8n Threads Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 975653450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit#gid=975653450"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        272
      ],
      "id": "7e0ca5c0-d8cf-4c65-b55a-aaddbb105229",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y5JhZNPqGU7SDP1R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -512,
        256
      ],
      "id": "1087d64c-88de-4804-8bd4-9261de540fad",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "maxItems": 5,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2160,
        400
      ],
      "id": "9534a146-21c7-4038-beba-5c068d0d1bd4",
      "name": "Limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.repliz.com/public/schedule",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $('Get row(s) in sheet').item.json.Title }}\",\n  \"description\": {{ JSON.stringify($json.content_clean) }},\n  \"medias\": [],\n  \"topic\": \"lifestyle\",\n  \"type\": \"text\",\n  \"accountId\": \"{{ $('Get row(s) in sheet').item.json['ID Account'] }}\",\n  \"scheduleAt\": \"{{ $json.schedule_at }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        416
      ],
      "id": "ac8dfeda-4a2b-4365-97ad-2ad3f05b95dc",
      "name": "Schedule Content",
      "credentials": {
        "httpBasicAuth": {
          "id": "3QofL3FawuZsJSOD",
          "name": "Repliz"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $json['Schedule'];\nconst content = $json['Content'] || \"\";\n\n// contoh Schedule: \"05/21/2026 12:00\"\n\n// ======================\n// Convert Schedule ke ISO UTC\n// ======================\nconst [datePart, timePart] = input.split(' ');\nconst [month, day, year] = datePart.split('/');\nconst [hour, minute] = timePart.split(':');\n\n// WIB = UTC+7\n// jadi dikurangi 7 jam agar jadi UTC\nconst date = new Date(Date.UTC(\n  Number(year),\n  Number(month) - 1,\n  Number(day),\n  Number(hour) - 7,\n  Number(minute)\n));\n\n// ======================\n// Clean Content\n// Hapus bagian:\n// [Skor Viral: ...]\n// ======================\nconst cleanContent = content\n  .replace(/\\n?\\[Skor Viral:.*?\\]$/s, '')\n  .trim();\n\nreturn {\n  schedule_at: date.toISOString(),\n  content_clean: cleanContent\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        400
      ],
      "id": "8529f89c-941e-4ec5-98f7-4c6fb366dc5c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI",
          "mode": "list",
          "cachedResultName": "n8n Threads Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 975653450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit#gid=975653450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Sudah Dijadwalkan",
            "Content ID": "={{ $json.scheduleId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID Account",
              "displayName": "ID Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Persona",
              "displayName": "Persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content ID",
              "displayName": "Content ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Schedule",
              "displayName": "Schedule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipe",
              "displayName": "Tipe",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1088,
        336
      ],
      "id": "4657bf5e-c5b9-4706-9d04-73606f7d449d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y5JhZNPqGU7SDP1R",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        464
      ],
      "id": "03b05c34-738c-4400-af8c-89e5454db972",
      "name": "Wait",
      "webhookId": "3e22d00f-0462-46c8-ba48-faa960250087"
    },
    {
      "parameters": {
        "content": "## 📅 Schedule Konten — Dokumentasi\n\n**Tujuan:**\nWorkflow ini secara otomatis menjadwalkan konten dari Google Sheets ke platform Repliz setiap hari pukul 08.00 WIB.\n\n---\n\n**Alur Kerja:**\n1. ⏰ **Schedule Trigger** — Berjalan setiap hari jam 08.00\n2. 📊 **Get row(s) in sheet** — Ambil data konten dari Google Sheets (Sheet2, mulai baris 3)\n3. 🔄 **Code in JavaScript** — Konversi format waktu WIB → UTC ISO 8601\n4. 🚀 **Schedule Content** — POST ke Repliz API untuk menjadwalkan konten\n5. ✏️ **Update row in sheet** — Update status & scheduleId ke Google Sheets\n6. ⏳ **Wait** — Jeda 3 detik antar iterasi\n\n---\n\n**Kredensial yang Dibutuhkan:**\n- 🔑 Google Sheets OAuth2\n- 🔑 Repliz Basic Auth\n\n**Source Data:**\n- Spreadsheet: n8n Threads Contents\n- Sheet: Sheet2 | Data mulai baris ke-3",
        "height": 544,
        "width": 480,
        "color": 3
      },
      "id": "sticky-main-doc",
      "name": "📋 DOKUMENTASI WORKFLOW",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -656
      ]
    },
    {
      "parameters": {
        "content": "## 🔧 Konversi Waktu WIB ke UTC\n\n**Input:** kolom Schedule\n**Format:** MM/DD/YYYY HH:mm\n**Output:** schedule_at (ISO 8601)\n\nKurangi 7 jam (WIB = UTC+7)\nReturn array objek: [{ schedule_at }]",
        "height": 532,
        "width": 250,
        "color": 4
      },
      "id": "sticky-code",
      "name": "🔧 Code Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        -656
      ]
    },
    {
      "parameters": {
        "content": "## 🚀 Schedule Content\n\n**Endpoint:** POST /public/schedule\n**Auth:** HTTP Basic (Repliz)\n\nField: title, description, accountId, scheduleAt, topic=lifestyle, type=text",
        "height": 544,
        "color": 6
      },
      "id": "sticky-api",
      "name": "🚀 Repliz API Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -656
      ]
    },
    {
      "parameters": {
        "content": "## ✏️ Update Google Sheets\n\nSetelah konten dijadwalkan, update baris:\n- **Status** = Sudah Dijadwalkan\n- **Content** = scheduleId dari Repliz\n\nMatch by: row_number",
        "height": 528,
        "color": 5
      },
      "id": "sticky-update",
      "name": "✏️ Update Sheet Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        -640
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Node Opsional\n\n**Loop Over Items** dan **Limit** tersedia untuk pemrosesan batch (3 per batch, max 5).\n\nSaat ini belum dipakai di alur utama.",
        "height": 150,
        "width": 360,
        "color": 2
      },
      "id": "sticky-batch",
      "name": "🔄 Batch Nodes (Unused)",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2144,
        208
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        -144
      ],
      "id": "f12530e3-3d2d-4c12-9fa8-4cefe5064b57",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "13ffabb0-0870-4c22-acb7-827ebf0eba42",
              "leftValue": "={{ $json.Tipe }}",
              "rightValue": "={{ $json.Tipe }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        272
      ],
      "id": "7aee1842-4047-4928-89b6-8f77594b5770",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const item = $('Get row(s) in sheet').item.json;\n\n// ======================\n// Clean [ ... ]\n// ======================\nconst cleanedContent = item.Content\n  .replace(/\\[.*?\\]/gs, '')\n  .trim();\n\n// ======================\n// Split Thread Content\n// ======================\nconst rawPosts = cleanedContent\n  .split(/POST\\s+\\d+\\/:/)\n  .map(v => v.trim())\n  .filter(v => v);\n\nconst mainPost = rawPosts[0];\n\nconst replies = rawPosts.slice(1).map(reply => ({\n  description: reply,\n  type: \"text\",\n  medias: []\n}));\n\n// ======================\n// Convert Schedule ke ISO UTC\n// ======================\nconst input = item.Schedule;\n\nconst [datePart, timePart] = input.split(' ');\nconst [month, day, year] = datePart.split('/');\nconst [hour, minute] = timePart.split(':');\n\n// WIB -> UTC\nconst localDate = new Date(Date.UTC(\n  parseInt(year),\n  parseInt(month) - 1,\n  parseInt(day),\n  parseInt(hour) - 7,\n  parseInt(minute)\n));\n\nconst scheduleAt = localDate.toISOString();\n\n// ======================\n// Final Output\n// ======================\nreturn [\n  {\n    json: {\n      description: mainPost,\n      topic: item.Persona || \"\",\n      type: \"text\",\n      medias: [],\n      replies,\n      accountId: item[\"ID Account\"],\n      scheduleAt\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        32
      ],
      "id": "7a0dedf5-0fdb-408c-87ed-9735674f6406",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.repliz.com/public/schedule",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        48
      ],
      "id": "cc1d9c26-5888-42a2-896a-cff9a1868fbe",
      "name": "Schedule Content1",
      "credentials": {
        "httpBasicAuth": {
          "id": "3QofL3FawuZsJSOD",
          "name": "Repliz"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI",
          "mode": "list",
          "cachedResultName": "n8n Threads Contents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 975653450,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nPBlJGeF1qQyXRclBnEkPGqVjeMbXO05wTbCNnFJonI/edit#gid=975653450"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Sudah Dijadwalkan",
            "Content ID": "={{ $json.scheduleId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID Account",
              "displayName": "ID Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Persona",
              "displayName": "Persona",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content ID",
              "displayName": "Content ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Schedule",
              "displayName": "Schedule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        768,
        816
      ],
      "id": "098d7c0b-7590-4070-a8ed-ef32d339bdb4",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y5JhZNPqGU7SDP1R",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-05-25T08:00:21.027+07:00",
          "Readable date": "May 25th 2026, 8:00:21 am",
          "Readable time": "8:00:21 am",
          "Day of week": "Monday",
          "Year": "2026",
          "Month": "May",
          "Day of month": "25",
          "Hour": "08",
          "Minute": "00",
          "Second": "21",
          "Timezone": "Asia/Jakarta (UTC+07:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Schedule Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Content": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Schedule Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Content1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "422ca3f3-7119-4f04-bbdc-004cfd36558a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ada8108924d96edddba5592610637517a833329dc6bd8783ce32d4de15f3fa66"
  },
  "id": "PYn6XghB0qan0YnM",
  "tags": []
}